<%= render 'shared/user_container', user: @user_x %>

<div class="bio-cont">
	<h3>Bio</h3>
	<p class="bio-text"><%= @user_x.bio %></p>
</div>

<% @user_x.most_recent_post.each do |post| %>
	<%= render 'shared/post_container', post: post %>
<% end %>

<%= link_to "See all posts", user_posts_path(user_id: @user_x.id), class: "posts-btn" %>