<div class="post-cont">
	<h3 class="post-cont-title">Post Title: <%= link_to post.title, user_post_path(@userX, post) %></h3>
	<p class="post-cont-text"><%= post.text %></p>

  <div class="post-cont-div">
    <p>Comments: <%= post.comments_counter %></p>
    <p>Likes: <%= post.likes_counter %></p>
  </div>
</div>