<div class="user-cont">
	<%= image_tag user.photo , class: 'user-photo' , alt: user.name %>

	<div class="user-content">
		<%= link_to user.name, "/users/#{user.id}", class:'user-content-name' %>
		<p class="user-content-posts">
			Number of posts: <%= user.posts_counter %>
		</p>
	</div>
</div>