<div class="user-cont">
	<img src="https://cdn.pixabay.com/photo/2023/01/05/22/35/flower-7700011_640.jpg" alt="dummy photo" class="img-user">

	<div class="user-content">
		<%= link_to user.name, "/users/#{user.id}", class:'user-content-name' %>
		<p class="user-content-posts">
			Number of posts: <%= user.posts_counter %>
		</p>
	</div>
</div>